.header-color {
  background: #FFAFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.avatar-img {
  height: 100%;
  width: 100%;
  padding-top: 3em;
}

.aboutme-img {
  height: 350px;
  padding-top: 5em;
}

.aboutme-grid {
  text-align: center;
  position: fixed;
  top: 20;
  left: 0;
  width: 100%;
  height: 100%;
}

.aboutme-grid h2{
  padding-top: 10px;
  font-family: Satisfy;
}

.about-me {
  opacity: .8;
  width: 80%;
  margin: 0;
  text-align: left;
}

.banner-text {
  background-color: transparent;
  opacity: .8;
  width: 75%;
  margin: auto;
  text-align: center;
  margin-top: 80px;
}

.banner-text h1 {
  font-size: 72px;
  font-weight: bold;
  color: black;
  font-family: Satisfy;
}

.banner-text hr {
  border-top: 2px solid black;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: black;
  font-weight: bold;
  font-size: 32px;
  padding: 1em;
  font-family: Courgette;
}

.banner-text p span{
  display: block;
}

.social-links {
  display:  flex;;
  justify-content: space-between;
  width:  50%;
  margin: auto;
}

.projects-grid {
  display: flex;
}

.social-links i {
  color: black;
  font-size: 4em;
  padding: 2px;
  cursor: pointer;
  font-size: 40px;
}

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 3em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Satisfy', cursive;
  font-size: 56px;
  padding-top: 1em;
}

.contact-grid hr{
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 50px;
  padding-right: 3rem;
}

/* Resume Page css*/

.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
}
